@model Theater_Drill_MVC.Models.ViewModels.ScheduleMovieViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string title = Model.Schedule == null ? "New" : "Edit";
    string buttonMsg = Model.Schedule == null ? "Schedule Movie" : "Edit Schedule";
    List<Movie> movies = Model.Movies;
    List<Auditorium> auditoriums = Model.Auditorium;
}
<form asp-action="Save" method="post">
    <h3 class="text-center">@title</h3>
    <div class="form-group m-3">
        <label>Movie: </label><br />
        <select asp-for="Schedule.MovieID" class="form-control" asp-items='new SelectList(movies, "ID","Title")'></select>
    </div>
    <div class="form-group m-3">
        <label>Auditorium: </label><br />
        <select asp-for="Schedule.AuditoriumId" class="form-control" asp-items='new SelectList(auditoriums, "ID","Name")'></select>
    </div>
    <div class="form-group m-3">
        <label>Screening Time: </label><input asp-for="Schedule.ScreeningTime" class="form-control" />
    </div>
    <div class="text-center m-3">
        <input class="btn btn-primary m-4" type="submit" value="@buttonMsg" />
    </div>
    @Html.HiddenFor(m => Model.Schedule.ID)
</form>