@model Auditorium
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string title = Model.ID == 0 ? "New" : "Edit";
    string buttonMsg = Model.ID == 0 ? "Add Auditorium" : "Edit Auditorium";
} 
<form asp-action="Save" method="post">
    <h3 class="text-center">@title</h3>
    <div class="form-group">
        <label>Auditorium Name: </label><input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Number of rows: </label><input asp-for="Rows" class="form-control" />
    </div>
    <div class="form-group">
        <label>Seats per row: </label><input asp-for="SeatNumberInRow" class="form-control" />
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="@buttonMsg" />
    </div>
    @Html.HiddenFor(a => Model.ID)
</form>